{% extends 'main/block.html' %}

{% block title %}
    <title>Вход в профиль</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
            Вы вошли как {{ user }}.
            <a href="{% url 'logout' %}">Выйти </a>
        {% else %}
            <h1> Вход в профиль</h1>
            <form action="{% url 'login' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button type = "submit">войти</button>
            </form>
        {% if form.errors %}
            <p> {{ form.errors.error }} </p>
        {% endif %}

        {% endif %}

{% endblock %}